@{
    Layout = null;
}
@model Department
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="container">
    <form method="post">
        <label asp-for="Deptname"></label>
        <br />
        <input asp-for="Deptname" />
        <input type="submit" value="Edit" class="btn btn-info" />
    </form>
</body>
</html>
